# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/

# Virtualenv
venv/
.venv/
.env/

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Game data generated at runtime
app/data/games/*.json
